<footer class="footer">
  <div class="container">
    <ul>
      <li>Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      <a href="http://flatironschool.com">@flatironschool</a> by 
      <a href="https://github.com/SophieDeBenedetto">Sophie Debenedetto</a>,
      <a href="https://github.com/rnackman">Rachel Nackman</a>,
      <a href="https://github.com/jeremysklarsky">Jeremy Sklarsky</a>, and
      <a href="https://github.com/ktravers">Kate Travers</a></li> |
      <li><a href="https://github.com/jeremysklarsky/dinnerly">Source code</a></li> |
      <li><a href="mailto:hello@approvablefeast.com">Feedback</a></li> |
      <li>Powered by <a href="http://api.bigoven.com/">BigOven API</a>.</li>
    </ul>
  </div>
</footer>
