<div class="well well-md col-md-8 col-md-offset-2 text-center">
  <%= form_tag("/send_password", method: "post") do %>
    <%= label_tag(:email, "Email:") %>
    <%= text_field_tag(:email) %>
    <%= submit_tag("Reset Password") %>
  <% end %>
</div>