<div class="invite-email col-md-offset-2">
  <h3><%= @user_name %>, your password has been reset.</h3><br>
  <h3>Your temporary password is</h3><br>
  <h1><%= @random_password %></h1>
  <h3>Follow this link to change your password to a real password!</h3>
  <h5><a href="http://localhost:3000/users/<%= @user.id %>/account">Reset Password</a></h5>
</div>