<div class="invite-email col-md-offset-2">
<h5>You're invited to vote!</h5>
<div class="welcome-msg">
<h1><%=@dinner.name%></h1>
</div>
<h3><%=@dinner.location%></h3>
<h5><%=@dinner.datetime%></h5>
<a href="<%= @dinner_page %>">RSVP</a>
</div>