<div class="well well-md col-md-8 col-md-offset-2 text-center">

<h1 class="welcome-msg">Welcome, <%=current_user.name %></h1><br>
  <%= button_to "Create Dinner", new_user_dinner_path(current_user), :class => "btn btn-primary", :method => :get  %><br />
  <%= button_to "My Dinners", user_dinners_path(current_user), :class => "btn btn-primary", :method => :get  %><br />
</div>
 <!-- new_user_dinner_path(current_user) -->