<div class="well well-md col-md-8 col-md-offset-2 text-center">
  <h1 class="welcome-msg">Welcome</h1><br>
  <h3><%=link_to "Sign up", signup_path%> or <%=link_to "log in", login_path%> to create a dinner party, generate a menu and invite your friends to attend! Friends and family can then claim a dish to bring.</h3>
</div>



