<form id="email-form" class="hidden", method="POST", action="<%= @dinner.id %>/invite", data-remote="true">

  <input name="authenticity_token" type="hidden" value="token_value">

  <div id="email-forms">
    <input type="text" name="guest[emails][]", class="email-input" size="30"/><br><br>
    <input type="text" name="guest[emails][]", class="email-input" size="30"/><br><br>
  </div>
  
  <input type="submit" value="Send Invitations" class="btn btn-primary"/>


</form>

<div id="send-confirmation"></div>
</div>
