<div class="well well-lg col-md-8 col-md-offset-2 text-center">
<button id="email-guests-btn">Invite Guests</button><br>

<form id="email-form" class="hidden", method="POST", action="<%= @dinner.id %>/invite", data-remote="true">

  <input name="authenticity_token" type="hidden" value="token_value">

  <div id="email-forms">
    <input type="text" name="guest[emails][]", class="email-input"/><br><br>
    <input type="text" name="guest[emails][]", class="email-input"/><br><br>
  </div>
  <input type="submit" value="Send Invitations"/>
</form>
<div id="send-confirmation"></div>
</div>

