<div class="col-lg-6 col-lg-offset-3">
  <div class="well bs-component">
    <h3 class="welcome-msg col-lg-offset-2">Create a beautiful, lavish dinner party:</h3><br>
    <%= render 'dinner_form' %>
  </div>
</div>





