/* GENERAL APP STYLING
-------------------------------------------------- */
body {
  
  /*background-image: url("table.jpg");*/
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("table.jpg");
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}
.horizontal-scroll {
  height: 300px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  display: inline-block;
}
.sans-serif {
  font-family: sans-serif;
  font-size: .75em;
  text-transform: none;
  padding: 1px 10px;
  margin-top: 1em;
}

/* ELECTION MENU PARTIAL STYLING
-------------------------------------------------- */
div.menu-election .horizontal-scroll {
  height: 325px;
}
div.menu-election div:last-child {
  margin-bottom: 2em;
}
div.menu-election .individual-recipe {
  float: left;
  margin-right: 15px;
}
div.menu-election .recipe-card.horizontal-scroll span:last-child {
  margin-right: 0px;
}

/* BUTTON STYLING
-------------------------------------------------- */
.btn-vote.btn-primary {
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  margin: 0.5em;
}